Frontend/InterfazDATMA/Connected Services/SemanaWS/SemanaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.datmasoft.datma.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="SemanaWS" targetNamespace="http://services.datmasoft.datma.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://54.157.215.104:8080/DatmaSoftWebServices/SemanaWS?xsd=1" namespace="http://services.datmasoft.datma.pe/" />
    </xsd:schema>
  </types>
  <message name="listarSemanas">
    <part name="parameters" element="tns:listarSemanas" />
  </message>
  <message name="listarSemanasResponse">
    <part name="parameters" element="tns:listarSemanasResponse" />
  </message>
  <message name="modificarSemana">
    <part name="parameters" element="tns:modificarSemana" />
  </message>
  <message name="modificarSemanaResponse">
    <part name="parameters" element="tns:modificarSemanaResponse" />
  </message>
  <message name="insertarSemana">
    <part name="parameters" element="tns:insertarSemana" />
  </message>
  <message name="insertarSemanaResponse">
    <part name="parameters" element="tns:insertarSemanaResponse" />
  </message>
  <portType name="SemanaWS">
    <operation name="listarSemanas">
      <input wsam:Action="http://services.datmasoft.datma.pe/SemanaWS/listarSemanasRequest" message="tns:listarSemanas" />
      <output wsam:Action="http://services.datmasoft.datma.pe/SemanaWS/listarSemanasResponse" message="tns:listarSemanasResponse" />
    </operation>
    <operation name="modificarSemana">
      <input wsam:Action="http://services.datmasoft.datma.pe/SemanaWS/modificarSemanaRequest" message="tns:modificarSemana" />
      <output wsam:Action="http://services.datmasoft.datma.pe/SemanaWS/modificarSemanaResponse" message="tns:modificarSemanaResponse" />
    </operation>
    <operation name="insertarSemana">
      <input wsam:Action="http://services.datmasoft.datma.pe/SemanaWS/insertarSemanaRequest" message="tns:insertarSemana" />
      <output wsam:Action="http://services.datmasoft.datma.pe/SemanaWS/insertarSemanaResponse" message="tns:insertarSemanaResponse" />
    </operation>
  </portType>
  <binding name="SemanaWSPortBinding" type="tns:SemanaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarSemanas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarSemana">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarSemana">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="SemanaWS">
    <port name="SemanaWSPort" binding="tns:SemanaWSPortBinding">
      <soap:address location="http://54.157.215.104:8080/DatmaSoftWebServices/SemanaWS" />
    </port>
  </service>
</definitions>