Frontend/InterfazDATMA/Connected Services/SemanaWS/SemanaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.datmasoft.datma.pe/" targetNamespace="http://services.datmasoft.datma.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="insertarSemana" type="tns:insertarSemana" />
  <xs:element name="insertarSemanaResponse" type="tns:insertarSemanaResponse" />
  <xs:element name="listarSemanas" type="tns:listarSemanas" />
  <xs:element name="listarSemanasResponse" type="tns:listarSemanasResponse" />
  <xs:element name="modificarSemana" type="tns:modificarSemana" />
  <xs:element name="modificarSemanaResponse" type="tns:modificarSemanaResponse" />
  <xs:complexType name="listarSemanas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarSemanasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:semana" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="semana">
    <xs:sequence>
      <xs:element minOccurs="0" name="curso" type="tns:curso" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="curso">
    <xs:sequence>
      <xs:element name="cantSemanas" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="estado" type="xs:int" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaInscripcion" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="grupos" nillable="true" type="tns:grupo" />
      <xs:element name="idCurso" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="requerimientos" nillable="true" type="tns:requerimiento" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="semanas" nillable="true" type="tns:semana" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="temas" nillable="true" type="tns:tema" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="grupo">
    <xs:sequence>
      <xs:element name="cantInfantes" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="cuidadores" nillable="true" type="tns:tutor" />
      <xs:element minOccurs="0" name="curso" type="tns:curso" />
      <xs:element name="idGrupo" type="xs:int" />
      <xs:element name="maxCantCuidadores" type="xs:int" />
      <xs:element minOccurs="0" name="nombrePromocion" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="psicologos" nillable="true" type="tns:psicologo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tutor">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element name="activoTutor" type="xs:int" />
          <xs:element name="bajoRecursos" type="xs:int" />
          <xs:element name="dia" type="xs:int" />
          <xs:element name="dispositivos" type="xs:int" />
          <xs:element name="gestante" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="grupos" nillable="true" type="tns:grupo" />
          <xs:element name="redesSociales" type="xs:int" />
          <xs:element name="tiposConexion" type="xs:int" />
          <xs:element name="turno" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element name="activo" type="xs:int" />
          <xs:element minOccurs="0" name="fotoPerfil" type="xs:base64Binary" />
          <xs:element name="idUsuario" type="xs:int" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element name="tipo" type="xs:int" />
          <xs:element minOccurs="0" name="user" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="celular" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="DNI" type="xs:string" />
      <xs:element minOccurs="0" name="distrito" type="tns:distrito" />
      <xs:element name="edad" type="xs:int" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
      <xs:element name="genero" type="xs:unsignedShort" />
      <xs:element name="idPersona" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="distrito">
    <xs:sequence>
      <xs:element name="idDistrito" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="psicologo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element name="activoPsicologo" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="cursos" nillable="true" type="tns:curso" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="grupos" nillable="true" type="tns:grupo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="requerimiento">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idCursoReq" type="xs:int" />
      <xs:element name="idRequerimiento" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tema">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarSemana">
    <xs:sequence>
      <xs:element minOccurs="0" name="semana" type="tns:semana" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarSemanaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarSemana">
    <xs:sequence>
      <xs:element minOccurs="0" name="semana" type="tns:semana" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarSemanaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>