Frontend/InterfazDATMA/Connected Services/PsicologoWS/PsicologoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.datmasoft.datma.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="PsicologoWS" targetNamespace="http://services.datmasoft.datma.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://54.157.215.104:8080/DatmaSoftWebServices/PsicologoWS?xsd=1" namespace="http://services.datmasoft.datma.pe/" />
    </xsd:schema>
  </types>
  <message name="eliminarPsicologo">
    <part name="parameters" element="tns:eliminarPsicologo" />
  </message>
  <message name="eliminarPsicologoResponse">
    <part name="parameters" element="tns:eliminarPsicologoResponse" />
  </message>
  <message name="insertarPsicologo">
    <part name="parameters" element="tns:insertarPsicologo" />
  </message>
  <message name="insertarPsicologoResponse">
    <part name="parameters" element="tns:insertarPsicologoResponse" />
  </message>
  <message name="listarPsicologosPorNombre">
    <part name="parameters" element="tns:listarPsicologosPorNombre" />
  </message>
  <message name="listarPsicologosPorNombreResponse">
    <part name="parameters" element="tns:listarPsicologosPorNombreResponse" />
  </message>
  <message name="listarTodosPsicologos">
    <part name="parameters" element="tns:listarTodosPsicologos" />
  </message>
  <message name="listarTodosPsicologosResponse">
    <part name="parameters" element="tns:listarTodosPsicologosResponse" />
  </message>
  <message name="modificarPsicologo">
    <part name="parameters" element="tns:modificarPsicologo" />
  </message>
  <message name="modificarPsicologoResponse">
    <part name="parameters" element="tns:modificarPsicologoResponse" />
  </message>
  <portType name="PsicologoWS">
    <operation name="eliminarPsicologo">
      <input wsam:Action="http://services.datmasoft.datma.pe/PsicologoWS/eliminarPsicologoRequest" message="tns:eliminarPsicologo" />
      <output wsam:Action="http://services.datmasoft.datma.pe/PsicologoWS/eliminarPsicologoResponse" message="tns:eliminarPsicologoResponse" />
    </operation>
    <operation name="insertarPsicologo">
      <input wsam:Action="http://services.datmasoft.datma.pe/PsicologoWS/insertarPsicologoRequest" message="tns:insertarPsicologo" />
      <output wsam:Action="http://services.datmasoft.datma.pe/PsicologoWS/insertarPsicologoResponse" message="tns:insertarPsicologoResponse" />
    </operation>
    <operation name="listarPsicologosPorNombre">
      <input wsam:Action="http://services.datmasoft.datma.pe/PsicologoWS/listarPsicologosPorNombreRequest" message="tns:listarPsicologosPorNombre" />
      <output wsam:Action="http://services.datmasoft.datma.pe/PsicologoWS/listarPsicologosPorNombreResponse" message="tns:listarPsicologosPorNombreResponse" />
    </operation>
    <operation name="listarTodosPsicologos">
      <input wsam:Action="http://services.datmasoft.datma.pe/PsicologoWS/listarTodosPsicologosRequest" message="tns:listarTodosPsicologos" />
      <output wsam:Action="http://services.datmasoft.datma.pe/PsicologoWS/listarTodosPsicologosResponse" message="tns:listarTodosPsicologosResponse" />
    </operation>
    <operation name="modificarPsicologo">
      <input wsam:Action="http://services.datmasoft.datma.pe/PsicologoWS/modificarPsicologoRequest" message="tns:modificarPsicologo" />
      <output wsam:Action="http://services.datmasoft.datma.pe/PsicologoWS/modificarPsicologoResponse" message="tns:modificarPsicologoResponse" />
    </operation>
  </portType>
  <binding name="PsicologoWSPortBinding" type="tns:PsicologoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarPsicologo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarPsicologo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPsicologosPorNombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosPsicologos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarPsicologo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PsicologoWS">
    <port name="PsicologoWSPort" binding="tns:PsicologoWSPortBinding">
      <soap:address location="http://54.157.215.104:8080/DatmaSoftWebServices/PsicologoWS" />
    </port>
  </service>
</definitions>