Frontend/InterfazDATMA/Connected Services/AsistenciaWS/AsistenciaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.datmasoft.datma.pe/" targetNamespace="http://services.datmasoft.datma.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarActividad" type="tns:eliminarActividad" />
  <xs:element name="eliminarActividadResponse" type="tns:eliminarActividadResponse" />
  <xs:element name="insertarAsistencia" type="tns:insertarAsistencia" />
  <xs:element name="insertarAsistenciaResponse" type="tns:insertarAsistenciaResponse" />
  <xs:element name="listarAsistencia" type="tns:listarAsistencia" />
  <xs:element name="listarAsistenciaResponse" type="tns:listarAsistenciaResponse" />
  <xs:element name="modificarAsistencia" type="tns:modificarAsistencia" />
  <xs:element name="modificarAsistenciaResponse" type="tns:modificarAsistenciaResponse" />
  <xs:complexType name="insertarAsistencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="asistencia" type="tns:asistencia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="asistencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="actividad" type="tns:actividad" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="tipo" type="xs:int" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actividad">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="horaFin" type="tns:localTime" />
      <xs:element minOccurs="0" name="horaInicio" type="tns:localTime" />
      <xs:element name="idActividad" type="xs:int" />
      <xs:element minOccurs="0" name="linkZoom" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="materiales" nillable="true" type="tns:material" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localTime" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="material">
    <xs:sequence>
      <xs:element minOccurs="0" name="actividad" type="tns:actividad" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="estado" type="xs:int" />
      <xs:element name="idMaterial" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="tipoMaterial" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element name="activo" type="xs:int" />
          <xs:element minOccurs="0" name="fotoPerfil" type="xs:base64Binary" />
          <xs:element name="idUsuario" type="xs:int" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element name="tipo" type="xs:int" />
          <xs:element minOccurs="0" name="user" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="celular" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="DNI" type="xs:string" />
      <xs:element minOccurs="0" name="distrito" type="tns:distrito" />
      <xs:element name="edad" type="xs:int" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
      <xs:element name="genero" type="xs:unsignedShort" />
      <xs:element name="idPersona" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="distrito">
    <xs:sequence>
      <xs:element name="idDistrito" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAsistenciaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarAsistencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="asistencia" type="tns:asistencia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarAsistenciaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarAsistencia">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarAsistenciaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:asistencia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarActividad">
    <xs:sequence>
      <xs:element name="idAsistencia" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarActividadResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>