Frontend/InterfazDATMA/Connected Services/AsistenciaWS/AsistenciaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.datmasoft.datma.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="AsistenciaWS" targetNamespace="http://services.datmasoft.datma.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://54.157.215.104:8080/DatmaSoftWebServices/AsistenciaWS?xsd=1" namespace="http://services.datmasoft.datma.pe/" />
    </xsd:schema>
  </types>
  <message name="eliminarActividad">
    <part name="parameters" element="tns:eliminarActividad" />
  </message>
  <message name="eliminarActividadResponse">
    <part name="parameters" element="tns:eliminarActividadResponse" />
  </message>
  <message name="modificarAsistencia">
    <part name="parameters" element="tns:modificarAsistencia" />
  </message>
  <message name="modificarAsistenciaResponse">
    <part name="parameters" element="tns:modificarAsistenciaResponse" />
  </message>
  <message name="insertarAsistencia">
    <part name="parameters" element="tns:insertarAsistencia" />
  </message>
  <message name="insertarAsistenciaResponse">
    <part name="parameters" element="tns:insertarAsistenciaResponse" />
  </message>
  <message name="listarAsistencia">
    <part name="parameters" element="tns:listarAsistencia" />
  </message>
  <message name="listarAsistenciaResponse">
    <part name="parameters" element="tns:listarAsistenciaResponse" />
  </message>
  <portType name="AsistenciaWS">
    <operation name="eliminarActividad">
      <input wsam:Action="http://services.datmasoft.datma.pe/AsistenciaWS/eliminarActividadRequest" message="tns:eliminarActividad" />
      <output wsam:Action="http://services.datmasoft.datma.pe/AsistenciaWS/eliminarActividadResponse" message="tns:eliminarActividadResponse" />
    </operation>
    <operation name="modificarAsistencia">
      <input wsam:Action="http://services.datmasoft.datma.pe/AsistenciaWS/modificarAsistenciaRequest" message="tns:modificarAsistencia" />
      <output wsam:Action="http://services.datmasoft.datma.pe/AsistenciaWS/modificarAsistenciaResponse" message="tns:modificarAsistenciaResponse" />
    </operation>
    <operation name="insertarAsistencia">
      <input wsam:Action="http://services.datmasoft.datma.pe/AsistenciaWS/insertarAsistenciaRequest" message="tns:insertarAsistencia" />
      <output wsam:Action="http://services.datmasoft.datma.pe/AsistenciaWS/insertarAsistenciaResponse" message="tns:insertarAsistenciaResponse" />
    </operation>
    <operation name="listarAsistencia">
      <input wsam:Action="http://services.datmasoft.datma.pe/AsistenciaWS/listarAsistenciaRequest" message="tns:listarAsistencia" />
      <output wsam:Action="http://services.datmasoft.datma.pe/AsistenciaWS/listarAsistenciaResponse" message="tns:listarAsistenciaResponse" />
    </operation>
  </portType>
  <binding name="AsistenciaWSPortBinding" type="tns:AsistenciaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarActividad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarAsistencia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarAsistencia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarAsistencia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="AsistenciaWS">
    <port name="AsistenciaWSPort" binding="tns:AsistenciaWSPortBinding">
      <soap:address location="http://54.157.215.104:8080/DatmaSoftWebServices/AsistenciaWS" />
    </port>
  </service>
</definitions>