Frontend/InterfazDATMA/Connected Services/ActividadWS/ActividadWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.datmasoft.datma.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ActividadWS" targetNamespace="http://services.datmasoft.datma.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://54.157.215.104:8080/DatmaSoftWebServices/ActividadWS?xsd=1" namespace="http://services.datmasoft.datma.pe/" />
    </xsd:schema>
  </types>
  <message name="modificarActividad">
    <part name="parameters" element="tns:modificarActividad" />
  </message>
  <message name="modificarActividadResponse">
    <part name="parameters" element="tns:modificarActividadResponse" />
  </message>
  <message name="insertarActividad">
    <part name="parameters" element="tns:insertarActividad" />
  </message>
  <message name="insertarActividadResponse">
    <part name="parameters" element="tns:insertarActividadResponse" />
  </message>
  <message name="eliminarActividad">
    <part name="parameters" element="tns:eliminarActividad" />
  </message>
  <message name="eliminarActividadResponse">
    <part name="parameters" element="tns:eliminarActividadResponse" />
  </message>
  <message name="listarActividad">
    <part name="parameters" element="tns:listarActividad" />
  </message>
  <message name="listarActividadResponse">
    <part name="parameters" element="tns:listarActividadResponse" />
  </message>
  <portType name="ActividadWS">
    <operation name="modificarActividad">
      <input wsam:Action="http://services.datmasoft.datma.pe/ActividadWS/modificarActividadRequest" message="tns:modificarActividad" />
      <output wsam:Action="http://services.datmasoft.datma.pe/ActividadWS/modificarActividadResponse" message="tns:modificarActividadResponse" />
    </operation>
    <operation name="insertarActividad">
      <input wsam:Action="http://services.datmasoft.datma.pe/ActividadWS/insertarActividadRequest" message="tns:insertarActividad" />
      <output wsam:Action="http://services.datmasoft.datma.pe/ActividadWS/insertarActividadResponse" message="tns:insertarActividadResponse" />
    </operation>
    <operation name="eliminarActividad">
      <input wsam:Action="http://services.datmasoft.datma.pe/ActividadWS/eliminarActividadRequest" message="tns:eliminarActividad" />
      <output wsam:Action="http://services.datmasoft.datma.pe/ActividadWS/eliminarActividadResponse" message="tns:eliminarActividadResponse" />
    </operation>
    <operation name="listarActividad">
      <input wsam:Action="http://services.datmasoft.datma.pe/ActividadWS/listarActividadRequest" message="tns:listarActividad" />
      <output wsam:Action="http://services.datmasoft.datma.pe/ActividadWS/listarActividadResponse" message="tns:listarActividadResponse" />
    </operation>
  </portType>
  <binding name="ActividadWSPortBinding" type="tns:ActividadWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="modificarActividad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarActividad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarActividad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarActividad">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ActividadWS">
    <port name="ActividadWSPort" binding="tns:ActividadWSPortBinding">
      <soap:address location="http://54.157.215.104:8080/DatmaSoftWebServices/ActividadWS" />
    </port>
  </service>
</definitions>