Frontend/InterfazDATMA/Connected Services/TemaWS/TemaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.datmasoft.datma.pe/" targetNamespace="http://services.datmasoft.datma.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="insertarTema" type="tns:insertarTema" />
  <xs:element name="insertarTemaResponse" type="tns:insertarTemaResponse" />
  <xs:element name="listarTemas" type="tns:listarTemas" />
  <xs:element name="listarTemasResponse" type="tns:listarTemasResponse" />
  <xs:element name="modificarTema" type="tns:modificarTema" />
  <xs:element name="modificarTemaResponse" type="tns:modificarTemaResponse" />
  <xs:complexType name="listarTemas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTemasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tema" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tema">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarTema">
    <xs:sequence>
      <xs:element minOccurs="0" name="tema" type="tns:tema" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarTemaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarTema">
    <xs:sequence>
      <xs:element minOccurs="0" name="tema" type="tns:tema" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarTemaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>