Frontend/InterfazDATMA/Connected Services/TemaWS/TemaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.datmasoft.datma.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="TemaWS" targetNamespace="http://services.datmasoft.datma.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://54.157.215.104:8080/DatmaSoftWebServices/TemaWS?xsd=1" namespace="http://services.datmasoft.datma.pe/" />
    </xsd:schema>
  </types>
  <message name="insertarTema">
    <part name="parameters" element="tns:insertarTema" />
  </message>
  <message name="insertarTemaResponse">
    <part name="parameters" element="tns:insertarTemaResponse" />
  </message>
  <message name="modificarTema">
    <part name="parameters" element="tns:modificarTema" />
  </message>
  <message name="modificarTemaResponse">
    <part name="parameters" element="tns:modificarTemaResponse" />
  </message>
  <message name="listarTemas">
    <part name="parameters" element="tns:listarTemas" />
  </message>
  <message name="listarTemasResponse">
    <part name="parameters" element="tns:listarTemasResponse" />
  </message>
  <portType name="TemaWS">
    <operation name="insertarTema">
      <input wsam:Action="http://services.datmasoft.datma.pe/TemaWS/insertarTemaRequest" message="tns:insertarTema" />
      <output wsam:Action="http://services.datmasoft.datma.pe/TemaWS/insertarTemaResponse" message="tns:insertarTemaResponse" />
    </operation>
    <operation name="modificarTema">
      <input wsam:Action="http://services.datmasoft.datma.pe/TemaWS/modificarTemaRequest" message="tns:modificarTema" />
      <output wsam:Action="http://services.datmasoft.datma.pe/TemaWS/modificarTemaResponse" message="tns:modificarTemaResponse" />
    </operation>
    <operation name="listarTemas">
      <input wsam:Action="http://services.datmasoft.datma.pe/TemaWS/listarTemasRequest" message="tns:listarTemas" />
      <output wsam:Action="http://services.datmasoft.datma.pe/TemaWS/listarTemasResponse" message="tns:listarTemasResponse" />
    </operation>
  </portType>
  <binding name="TemaWSPortBinding" type="tns:TemaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarTema">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarTema">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTemas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="TemaWS">
    <port name="TemaWSPort" binding="tns:TemaWSPortBinding">
      <soap:address location="http://54.157.215.104:8080/DatmaSoftWebServices/TemaWS" />
    </port>
  </service>
</definitions>