Frontend/InterfazDATMA/Connected Services/GrupoWS/GrupoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.datmasoft.datma.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="GrupoWS" targetNamespace="http://services.datmasoft.datma.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://54.157.215.104:8080/DatmaSoftWebServices/GrupoWS?xsd=1" namespace="http://services.datmasoft.datma.pe/" />
    </xsd:schema>
  </types>
  <message name="insertarGrupo">
    <part name="parameters" element="tns:insertarGrupo" />
  </message>
  <message name="insertarGrupoResponse">
    <part name="parameters" element="tns:insertarGrupoResponse" />
  </message>
  <message name="eliminarGrupo">
    <part name="parameters" element="tns:eliminarGrupo" />
  </message>
  <message name="eliminarGrupoResponse">
    <part name="parameters" element="tns:eliminarGrupoResponse" />
  </message>
  <message name="listarGrupoPorIdCurso">
    <part name="parameters" element="tns:listarGrupoPorIdCurso" />
  </message>
  <message name="listarGrupoPorIdCursoResponse">
    <part name="parameters" element="tns:listarGrupoPorIdCursoResponse" />
  </message>
  <portType name="GrupoWS">
    <operation name="insertarGrupo">
      <input wsam:Action="http://services.datmasoft.datma.pe/GrupoWS/insertarGrupoRequest" message="tns:insertarGrupo" />
      <output wsam:Action="http://services.datmasoft.datma.pe/GrupoWS/insertarGrupoResponse" message="tns:insertarGrupoResponse" />
    </operation>
    <operation name="eliminarGrupo">
      <input wsam:Action="http://services.datmasoft.datma.pe/GrupoWS/eliminarGrupoRequest" message="tns:eliminarGrupo" />
      <output wsam:Action="http://services.datmasoft.datma.pe/GrupoWS/eliminarGrupoResponse" message="tns:eliminarGrupoResponse" />
    </operation>
    <operation name="listarGrupoPorIdCurso">
      <input wsam:Action="http://services.datmasoft.datma.pe/GrupoWS/listarGrupoPorIdCursoRequest" message="tns:listarGrupoPorIdCurso" />
      <output wsam:Action="http://services.datmasoft.datma.pe/GrupoWS/listarGrupoPorIdCursoResponse" message="tns:listarGrupoPorIdCursoResponse" />
    </operation>
  </portType>
  <binding name="GrupoWSPortBinding" type="tns:GrupoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarGrupo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarGrupo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarGrupoPorIdCurso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="GrupoWS">
    <port name="GrupoWSPort" binding="tns:GrupoWSPortBinding">
      <soap:address location="http://54.157.215.104:8080/DatmaSoftWebServices/GrupoWS" />
    </port>
  </service>
</definitions>