Frontend/InterfazDATMA/Connected Services/MaterialWS/MaterialWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.datmasoft.datma.pe/" targetNamespace="http://services.datmasoft.datma.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarMaterial" type="tns:eliminarMaterial" />
  <xs:element name="eliminarMaterialResponse" type="tns:eliminarMaterialResponse" />
  <xs:element name="insertarMaterialDocumento" type="tns:insertarMaterialDocumento" />
  <xs:element name="insertarMaterialDocumentoResponse" type="tns:insertarMaterialDocumentoResponse" />
  <xs:element name="insertarMaterialVideo" type="tns:insertarMaterialVideo" />
  <xs:element name="insertarMaterialVideoResponse" type="tns:insertarMaterialVideoResponse" />
  <xs:element name="listarDocumentos" type="tns:listarDocumentos" />
  <xs:element name="listarDocumentosResponse" type="tns:listarDocumentosResponse" />
  <xs:element name="listarVideos" type="tns:listarVideos" />
  <xs:element name="listarVideosResponse" type="tns:listarVideosResponse" />
  <xs:element name="modificarMaterialDocumento" type="tns:modificarMaterialDocumento" />
  <xs:element name="modificarMaterialDocumentoResponse" type="tns:modificarMaterialDocumentoResponse" />
  <xs:element name="modificarMaterialVideo" type="tns:modificarMaterialVideo" />
  <xs:element name="modificarMaterialVideoResponse" type="tns:modificarMaterialVideoResponse" />
  <xs:complexType name="modificarMaterialVideo">
    <xs:sequence>
      <xs:element minOccurs="0" name="video" type="tns:video" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="video">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:material">
        <xs:sequence>
          <xs:element minOccurs="0" name="duracion" type="xs:string" />
          <xs:element minOccurs="0" name="linkVideo" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="material">
    <xs:sequence>
      <xs:element minOccurs="0" name="actividad" type="tns:actividad" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="estado" type="xs:int" />
      <xs:element name="idMaterial" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="tipoMaterial" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actividad">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="horaFin" type="tns:localTime" />
      <xs:element minOccurs="0" name="horaInicio" type="tns:localTime" />
      <xs:element name="idActividad" type="xs:int" />
      <xs:element minOccurs="0" name="linkZoom" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="materiales" nillable="true" type="tns:material" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localTime" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="modificarMaterialVideoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarMaterialDocumento">
    <xs:sequence>
      <xs:element minOccurs="0" name="doc" type="tns:documento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="documento">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:material">
        <xs:sequence>
          <xs:element minOccurs="0" name="docPDF" type="xs:base64Binary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="insertarMaterialDocumentoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarMaterialVideo">
    <xs:sequence>
      <xs:element minOccurs="0" name="video" type="tns:video" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarMaterialVideoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarVideos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarVideosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:video" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarMaterialDocumento">
    <xs:sequence>
      <xs:element minOccurs="0" name="doc" type="tns:documento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarMaterialDocumentoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarMaterial">
    <xs:sequence>
      <xs:element name="idMat" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarMaterialResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarDocumentos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarDocumentosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:documento" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>