Frontend/InterfazDATMA/Connected Services/MaterialWS/MaterialWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.datmasoft.datma.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="MaterialWS" targetNamespace="http://services.datmasoft.datma.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://54.157.215.104:8080/DatmaSoftWebServices/MaterialWS?xsd=1" namespace="http://services.datmasoft.datma.pe/" />
    </xsd:schema>
  </types>
  <message name="modificarMaterialDocumento">
    <part name="parameters" element="tns:modificarMaterialDocumento" />
  </message>
  <message name="modificarMaterialDocumentoResponse">
    <part name="parameters" element="tns:modificarMaterialDocumentoResponse" />
  </message>
  <message name="insertarMaterialDocumento">
    <part name="parameters" element="tns:insertarMaterialDocumento" />
  </message>
  <message name="insertarMaterialDocumentoResponse">
    <part name="parameters" element="tns:insertarMaterialDocumentoResponse" />
  </message>
  <message name="insertarMaterialVideo">
    <part name="parameters" element="tns:insertarMaterialVideo" />
  </message>
  <message name="insertarMaterialVideoResponse">
    <part name="parameters" element="tns:insertarMaterialVideoResponse" />
  </message>
  <message name="modificarMaterialVideo">
    <part name="parameters" element="tns:modificarMaterialVideo" />
  </message>
  <message name="modificarMaterialVideoResponse">
    <part name="parameters" element="tns:modificarMaterialVideoResponse" />
  </message>
  <message name="listarDocumentos">
    <part name="parameters" element="tns:listarDocumentos" />
  </message>
  <message name="listarDocumentosResponse">
    <part name="parameters" element="tns:listarDocumentosResponse" />
  </message>
  <message name="eliminarMaterial">
    <part name="parameters" element="tns:eliminarMaterial" />
  </message>
  <message name="eliminarMaterialResponse">
    <part name="parameters" element="tns:eliminarMaterialResponse" />
  </message>
  <message name="listarVideos">
    <part name="parameters" element="tns:listarVideos" />
  </message>
  <message name="listarVideosResponse">
    <part name="parameters" element="tns:listarVideosResponse" />
  </message>
  <portType name="MaterialWS">
    <operation name="modificarMaterialDocumento">
      <input wsam:Action="http://services.datmasoft.datma.pe/MaterialWS/modificarMaterialDocumentoRequest" message="tns:modificarMaterialDocumento" />
      <output wsam:Action="http://services.datmasoft.datma.pe/MaterialWS/modificarMaterialDocumentoResponse" message="tns:modificarMaterialDocumentoResponse" />
    </operation>
    <operation name="insertarMaterialDocumento">
      <input wsam:Action="http://services.datmasoft.datma.pe/MaterialWS/insertarMaterialDocumentoRequest" message="tns:insertarMaterialDocumento" />
      <output wsam:Action="http://services.datmasoft.datma.pe/MaterialWS/insertarMaterialDocumentoResponse" message="tns:insertarMaterialDocumentoResponse" />
    </operation>
    <operation name="insertarMaterialVideo">
      <input wsam:Action="http://services.datmasoft.datma.pe/MaterialWS/insertarMaterialVideoRequest" message="tns:insertarMaterialVideo" />
      <output wsam:Action="http://services.datmasoft.datma.pe/MaterialWS/insertarMaterialVideoResponse" message="tns:insertarMaterialVideoResponse" />
    </operation>
    <operation name="modificarMaterialVideo">
      <input wsam:Action="http://services.datmasoft.datma.pe/MaterialWS/modificarMaterialVideoRequest" message="tns:modificarMaterialVideo" />
      <output wsam:Action="http://services.datmasoft.datma.pe/MaterialWS/modificarMaterialVideoResponse" message="tns:modificarMaterialVideoResponse" />
    </operation>
    <operation name="listarDocumentos">
      <input wsam:Action="http://services.datmasoft.datma.pe/MaterialWS/listarDocumentosRequest" message="tns:listarDocumentos" />
      <output wsam:Action="http://services.datmasoft.datma.pe/MaterialWS/listarDocumentosResponse" message="tns:listarDocumentosResponse" />
    </operation>
    <operation name="eliminarMaterial">
      <input wsam:Action="http://services.datmasoft.datma.pe/MaterialWS/eliminarMaterialRequest" message="tns:eliminarMaterial" />
      <output wsam:Action="http://services.datmasoft.datma.pe/MaterialWS/eliminarMaterialResponse" message="tns:eliminarMaterialResponse" />
    </operation>
    <operation name="listarVideos">
      <input wsam:Action="http://services.datmasoft.datma.pe/MaterialWS/listarVideosRequest" message="tns:listarVideos" />
      <output wsam:Action="http://services.datmasoft.datma.pe/MaterialWS/listarVideosResponse" message="tns:listarVideosResponse" />
    </operation>
  </portType>
  <binding name="MaterialWSPortBinding" type="tns:MaterialWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="modificarMaterialDocumento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarMaterialDocumento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarMaterialVideo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarMaterialVideo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarDocumentos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarMaterial">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarVideos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="MaterialWS">
    <port name="MaterialWSPort" binding="tns:MaterialWSPortBinding">
      <soap:address location="http://54.157.215.104:8080/DatmaSoftWebServices/MaterialWS" />
    </port>
  </service>
</definitions>