Frontend/InterfazDATMA/Connected Services/DistritoWS/DistritoWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.datmasoft.datma.pe/" targetNamespace="http://services.datmasoft.datma.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="insertarDistrito" type="tns:insertarDistrito" />
  <xs:element name="insertarDistritoResponse" type="tns:insertarDistritoResponse" />
  <xs:element name="lisrarTodosDistritos" type="tns:lisrarTodosDistritos" />
  <xs:element name="lisrarTodosDistritosResponse" type="tns:lisrarTodosDistritosResponse" />
  <xs:element name="listarDistritos" type="tns:listarDistritos" />
  <xs:element name="listarDistritosResponse" type="tns:listarDistritosResponse" />
  <xs:element name="modificarDistrito" type="tns:modificarDistrito" />
  <xs:element name="modificarDistritoResponse" type="tns:modificarDistritoResponse" />
  <xs:complexType name="lisrarTodosDistritos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="lisrarTodosDistritosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:distrito" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="distrito">
    <xs:sequence>
      <xs:element name="idDistrito" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarDistrito">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="tns:distrito" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarDistritoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarDistritos">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarDistritosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:distrito" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarDistrito">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="tns:distrito" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarDistritoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>