Frontend/InterfazDATMA/Connected Services/CursoWS/CursoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.datmasoft.datma.pe/" targetNamespace="http://services.datmasoft.datma.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarCurso" type="tns:eliminarCurso" />
  <xs:element name="eliminarCursoResponse" type="tns:eliminarCursoResponse" />
  <xs:element name="eliminarCursoTema" type="tns:eliminarCursoTema" />
  <xs:element name="eliminarCursoTemaResponse" type="tns:eliminarCursoTemaResponse" />
  <xs:element name="eliminarRequerimiento" type="tns:eliminarRequerimiento" />
  <xs:element name="eliminarRequerimientoResponse" type="tns:eliminarRequerimientoResponse" />
  <xs:element name="insertarCurso" type="tns:insertarCurso" />
  <xs:element name="insertarCursoResponse" type="tns:insertarCursoResponse" />
  <xs:element name="insertarCursoTema" type="tns:insertarCursoTema" />
  <xs:element name="insertarCursoTemaResponse" type="tns:insertarCursoTemaResponse" />
  <xs:element name="insertarRequerimiento" type="tns:insertarRequerimiento" />
  <xs:element name="insertarRequerimientoResponse" type="tns:insertarRequerimientoResponse" />
  <xs:element name="listarCursos" type="tns:listarCursos" />
  <xs:element name="listarCursosPorNombre" type="tns:listarCursosPorNombre" />
  <xs:element name="listarCursosPorNombreResponse" type="tns:listarCursosPorNombreResponse" />
  <xs:element name="listarCursosResponse" type="tns:listarCursosResponse" />
  <xs:element name="listarGruposPorIdCurso" type="tns:listarGruposPorIdCurso" />
  <xs:element name="listarGruposPorIdCursoResponse" type="tns:listarGruposPorIdCursoResponse" />
  <xs:element name="listarRequerimientoPorIdCurso" type="tns:listarRequerimientoPorIdCurso" />
  <xs:element name="listarRequerimientoPorIdCursoResponse" type="tns:listarRequerimientoPorIdCursoResponse" />
  <xs:element name="listarSemanasPorIdCurso" type="tns:listarSemanasPorIdCurso" />
  <xs:element name="listarSemanasPorIdCursoResponse" type="tns:listarSemanasPorIdCursoResponse" />
  <xs:element name="listarTemasPorIdCurso" type="tns:listarTemasPorIdCurso" />
  <xs:element name="listarTemasPorIdCursoResponse" type="tns:listarTemasPorIdCursoResponse" />
  <xs:element name="modificarCurso" type="tns:modificarCurso" />
  <xs:element name="modificarCursoResponse" type="tns:modificarCursoResponse" />
  <xs:element name="modificarCursoTema" type="tns:modificarCursoTema" />
  <xs:element name="modificarCursoTemaResponse" type="tns:modificarCursoTemaResponse" />
  <xs:element name="modificarRequerimiento" type="tns:modificarRequerimiento" />
  <xs:element name="modificarRequerimientoResponse" type="tns:modificarRequerimientoResponse" />
  <xs:complexType name="modificarCurso">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:curso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="curso">
    <xs:sequence>
      <xs:element name="cantSemanas" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="estado" type="xs:int" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaInscripcion" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="grupos" nillable="true" type="tns:grupo" />
      <xs:element name="idCurso" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="requerimientos" nillable="true" type="tns:requerimiento" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="semanas" nillable="true" type="tns:semana" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="temas" nillable="true" type="tns:tema" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="grupo">
    <xs:sequence>
      <xs:element name="cantInfantes" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="cuidadores" nillable="true" type="tns:tutor" />
      <xs:element minOccurs="0" name="curso" type="tns:curso" />
      <xs:element name="idGrupo" type="xs:int" />
      <xs:element name="maxCantCuidadores" type="xs:int" />
      <xs:element minOccurs="0" name="nombrePromocion" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="psicologos" nillable="true" type="tns:psicologo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tutor">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element name="activoTutor" type="xs:int" />
          <xs:element name="bajoRecursos" type="xs:int" />
          <xs:element name="dia" type="xs:int" />
          <xs:element name="dispositivos" type="xs:int" />
          <xs:element name="gestante" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="grupos" nillable="true" type="tns:grupo" />
          <xs:element name="redesSociales" type="xs:int" />
          <xs:element name="tiposConexion" type="xs:int" />
          <xs:element name="turno" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element name="activo" type="xs:int" />
          <xs:element minOccurs="0" name="fotoPerfil" type="xs:base64Binary" />
          <xs:element name="idUsuario" type="xs:int" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element name="tipo" type="xs:int" />
          <xs:element minOccurs="0" name="user" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
      <xs:element minOccurs="0" name="celular" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="DNI" type="xs:string" />
      <xs:element minOccurs="0" name="distrito" type="tns:distrito" />
      <xs:element name="edad" type="xs:int" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
      <xs:element name="genero" type="xs:unsignedShort" />
      <xs:element name="idPersona" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="distrito">
    <xs:sequence>
      <xs:element name="idDistrito" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="psicologo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element name="activoPsicologo" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="cursos" nillable="true" type="tns:curso" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="grupos" nillable="true" type="tns:grupo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="requerimiento">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idCursoReq" type="xs:int" />
      <xs:element name="idRequerimiento" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="semana">
    <xs:sequence>
      <xs:element minOccurs="0" name="curso" type="tns:curso" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tema">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarCursoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarCursoTema">
    <xs:sequence>
      <xs:element name="idCurso" type="xs:int" />
      <xs:element name="idTema" type="xs:int" />
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarCursoTemaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCursos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarCursosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:curso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarRequerimientoPorIdCurso">
    <xs:sequence>
      <xs:element name="idCurso" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarRequerimientoPorIdCursoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:requerimiento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCursosPorNombre">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombreCurso" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCursosPorNombreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:curso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarRequerimiento">
    <xs:sequence>
      <xs:element name="idCursoDep" type="xs:int" />
      <xs:element name="idCursoReq" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarRequerimientoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarRequerimiento">
    <xs:sequence>
      <xs:element name="idCursoDep" type="xs:int" />
      <xs:element name="idRequerimiento" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarRequerimientoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTemasPorIdCurso">
    <xs:sequence>
      <xs:element name="idCurso" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTemasPorIdCursoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tema" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCursoTema">
    <xs:sequence>
      <xs:element name="idCurso" type="xs:int" />
      <xs:element name="idTema" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCursoTemaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarSemanasPorIdCurso">
    <xs:sequence>
      <xs:element name="idCurso" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarSemanasPorIdCursoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:semana" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCurso">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:curso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCursoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCursoTema">
    <xs:sequence>
      <xs:element name="idCurso" type="xs:int" />
      <xs:element name="idTema" type="xs:int" />
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCursoTemaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCurso">
    <xs:sequence>
      <xs:element name="idCurso" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCursoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarRequerimiento">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
      <xs:element name="arg1" type="xs:int" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarRequerimientoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarGruposPorIdCurso">
    <xs:sequence>
      <xs:element name="idCurso" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarGruposPorIdCursoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:grupo" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>