Frontend/InterfazDATMA/Connected Services/CursoWS/CursoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.datmasoft.datma.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="CursoWS" targetNamespace="http://services.datmasoft.datma.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://54.157.215.104:8080/DatmaSoftWebServices/CursoWS?xsd=1" namespace="http://services.datmasoft.datma.pe/" />
    </xsd:schema>
  </types>
  <message name="listarGruposPorIdCurso">
    <part name="parameters" element="tns:listarGruposPorIdCurso" />
  </message>
  <message name="listarGruposPorIdCursoResponse">
    <part name="parameters" element="tns:listarGruposPorIdCursoResponse" />
  </message>
  <message name="eliminarRequerimiento">
    <part name="parameters" element="tns:eliminarRequerimiento" />
  </message>
  <message name="eliminarRequerimientoResponse">
    <part name="parameters" element="tns:eliminarRequerimientoResponse" />
  </message>
  <message name="modificarRequerimiento">
    <part name="parameters" element="tns:modificarRequerimiento" />
  </message>
  <message name="modificarRequerimientoResponse">
    <part name="parameters" element="tns:modificarRequerimientoResponse" />
  </message>
  <message name="listarTemasPorIdCurso">
    <part name="parameters" element="tns:listarTemasPorIdCurso" />
  </message>
  <message name="listarTemasPorIdCursoResponse">
    <part name="parameters" element="tns:listarTemasPorIdCursoResponse" />
  </message>
  <message name="insertarCursoTema">
    <part name="parameters" element="tns:insertarCursoTema" />
  </message>
  <message name="insertarCursoTemaResponse">
    <part name="parameters" element="tns:insertarCursoTemaResponse" />
  </message>
  <message name="insertarRequerimiento">
    <part name="parameters" element="tns:insertarRequerimiento" />
  </message>
  <message name="insertarRequerimientoResponse">
    <part name="parameters" element="tns:insertarRequerimientoResponse" />
  </message>
  <message name="eliminarCursoTema">
    <part name="parameters" element="tns:eliminarCursoTema" />
  </message>
  <message name="eliminarCursoTemaResponse">
    <part name="parameters" element="tns:eliminarCursoTemaResponse" />
  </message>
  <message name="listarCursosPorNombre">
    <part name="parameters" element="tns:listarCursosPorNombre" />
  </message>
  <message name="listarCursosPorNombreResponse">
    <part name="parameters" element="tns:listarCursosPorNombreResponse" />
  </message>
  <message name="listarSemanasPorIdCurso">
    <part name="parameters" element="tns:listarSemanasPorIdCurso" />
  </message>
  <message name="listarSemanasPorIdCursoResponse">
    <part name="parameters" element="tns:listarSemanasPorIdCursoResponse" />
  </message>
  <message name="listarRequerimientoPorIdCurso">
    <part name="parameters" element="tns:listarRequerimientoPorIdCurso" />
  </message>
  <message name="listarRequerimientoPorIdCursoResponse">
    <part name="parameters" element="tns:listarRequerimientoPorIdCursoResponse" />
  </message>
  <message name="modificarCursoTema">
    <part name="parameters" element="tns:modificarCursoTema" />
  </message>
  <message name="modificarCursoTemaResponse">
    <part name="parameters" element="tns:modificarCursoTemaResponse" />
  </message>
  <message name="modificarCurso">
    <part name="parameters" element="tns:modificarCurso" />
  </message>
  <message name="modificarCursoResponse">
    <part name="parameters" element="tns:modificarCursoResponse" />
  </message>
  <message name="insertarCurso">
    <part name="parameters" element="tns:insertarCurso" />
  </message>
  <message name="insertarCursoResponse">
    <part name="parameters" element="tns:insertarCursoResponse" />
  </message>
  <message name="listarCursos">
    <part name="parameters" element="tns:listarCursos" />
  </message>
  <message name="listarCursosResponse">
    <part name="parameters" element="tns:listarCursosResponse" />
  </message>
  <message name="eliminarCurso">
    <part name="parameters" element="tns:eliminarCurso" />
  </message>
  <message name="eliminarCursoResponse">
    <part name="parameters" element="tns:eliminarCursoResponse" />
  </message>
  <portType name="CursoWS">
    <operation name="listarGruposPorIdCurso">
      <input wsam:Action="http://services.datmasoft.datma.pe/CursoWS/listarGruposPorIdCursoRequest" message="tns:listarGruposPorIdCurso" />
      <output wsam:Action="http://services.datmasoft.datma.pe/CursoWS/listarGruposPorIdCursoResponse" message="tns:listarGruposPorIdCursoResponse" />
    </operation>
    <operation name="eliminarRequerimiento">
      <input wsam:Action="http://services.datmasoft.datma.pe/CursoWS/eliminarRequerimientoRequest" message="tns:eliminarRequerimiento" />
      <output wsam:Action="http://services.datmasoft.datma.pe/CursoWS/eliminarRequerimientoResponse" message="tns:eliminarRequerimientoResponse" />
    </operation>
    <operation name="modificarRequerimiento">
      <input wsam:Action="http://services.datmasoft.datma.pe/CursoWS/modificarRequerimientoRequest" message="tns:modificarRequerimiento" />
      <output wsam:Action="http://services.datmasoft.datma.pe/CursoWS/modificarRequerimientoResponse" message="tns:modificarRequerimientoResponse" />
    </operation>
    <operation name="listarTemasPorIdCurso">
      <input wsam:Action="http://services.datmasoft.datma.pe/CursoWS/listarTemasPorIdCursoRequest" message="tns:listarTemasPorIdCurso" />
      <output wsam:Action="http://services.datmasoft.datma.pe/CursoWS/listarTemasPorIdCursoResponse" message="tns:listarTemasPorIdCursoResponse" />
    </operation>
    <operation name="insertarCursoTema">
      <input wsam:Action="http://services.datmasoft.datma.pe/CursoWS/insertarCursoTemaRequest" message="tns:insertarCursoTema" />
      <output wsam:Action="http://services.datmasoft.datma.pe/CursoWS/insertarCursoTemaResponse" message="tns:insertarCursoTemaResponse" />
    </operation>
    <operation name="insertarRequerimiento">
      <input wsam:Action="http://services.datmasoft.datma.pe/CursoWS/insertarRequerimientoRequest" message="tns:insertarRequerimiento" />
      <output wsam:Action="http://services.datmasoft.datma.pe/CursoWS/insertarRequerimientoResponse" message="tns:insertarRequerimientoResponse" />
    </operation>
    <operation name="eliminarCursoTema">
      <input wsam:Action="http://services.datmasoft.datma.pe/CursoWS/eliminarCursoTemaRequest" message="tns:eliminarCursoTema" />
      <output wsam:Action="http://services.datmasoft.datma.pe/CursoWS/eliminarCursoTemaResponse" message="tns:eliminarCursoTemaResponse" />
    </operation>
    <operation name="listarCursosPorNombre">
      <input wsam:Action="http://services.datmasoft.datma.pe/CursoWS/listarCursosPorNombreRequest" message="tns:listarCursosPorNombre" />
      <output wsam:Action="http://services.datmasoft.datma.pe/CursoWS/listarCursosPorNombreResponse" message="tns:listarCursosPorNombreResponse" />
    </operation>
    <operation name="listarSemanasPorIdCurso">
      <input wsam:Action="http://services.datmasoft.datma.pe/CursoWS/listarSemanasPorIdCursoRequest" message="tns:listarSemanasPorIdCurso" />
      <output wsam:Action="http://services.datmasoft.datma.pe/CursoWS/listarSemanasPorIdCursoResponse" message="tns:listarSemanasPorIdCursoResponse" />
    </operation>
    <operation name="listarRequerimientoPorIdCurso">
      <input wsam:Action="http://services.datmasoft.datma.pe/CursoWS/listarRequerimientoPorIdCursoRequest" message="tns:listarRequerimientoPorIdCurso" />
      <output wsam:Action="http://services.datmasoft.datma.pe/CursoWS/listarRequerimientoPorIdCursoResponse" message="tns:listarRequerimientoPorIdCursoResponse" />
    </operation>
    <operation name="modificarCursoTema">
      <input wsam:Action="http://services.datmasoft.datma.pe/CursoWS/modificarCursoTemaRequest" message="tns:modificarCursoTema" />
      <output wsam:Action="http://services.datmasoft.datma.pe/CursoWS/modificarCursoTemaResponse" message="tns:modificarCursoTemaResponse" />
    </operation>
    <operation name="modificarCurso">
      <input wsam:Action="http://services.datmasoft.datma.pe/CursoWS/modificarCursoRequest" message="tns:modificarCurso" />
      <output wsam:Action="http://services.datmasoft.datma.pe/CursoWS/modificarCursoResponse" message="tns:modificarCursoResponse" />
    </operation>
    <operation name="insertarCurso">
      <input wsam:Action="http://services.datmasoft.datma.pe/CursoWS/insertarCursoRequest" message="tns:insertarCurso" />
      <output wsam:Action="http://services.datmasoft.datma.pe/CursoWS/insertarCursoResponse" message="tns:insertarCursoResponse" />
    </operation>
    <operation name="listarCursos">
      <input wsam:Action="http://services.datmasoft.datma.pe/CursoWS/listarCursosRequest" message="tns:listarCursos" />
      <output wsam:Action="http://services.datmasoft.datma.pe/CursoWS/listarCursosResponse" message="tns:listarCursosResponse" />
    </operation>
    <operation name="eliminarCurso">
      <input wsam:Action="http://services.datmasoft.datma.pe/CursoWS/eliminarCursoRequest" message="tns:eliminarCurso" />
      <output wsam:Action="http://services.datmasoft.datma.pe/CursoWS/eliminarCursoResponse" message="tns:eliminarCursoResponse" />
    </operation>
  </portType>
  <binding name="CursoWSPortBinding" type="tns:CursoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarGruposPorIdCurso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarRequerimiento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarRequerimiento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTemasPorIdCurso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarCursoTema">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarRequerimiento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarCursoTema">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCursosPorNombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarSemanasPorIdCurso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarRequerimientoPorIdCurso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarCursoTema">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarCurso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarCurso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCursos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarCurso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CursoWS">
    <port name="CursoWSPort" binding="tns:CursoWSPortBinding">
      <soap:address location="http://54.157.215.104:8080/DatmaSoftWebServices/CursoWS" />
    </port>
  </service>
</definitions>